<template>
  <Toast />
  <ConfirmDialog></ConfirmDialog>

  <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <Card>
      <template #title>Auth Info</template>
      <template #subtitle>
        <Button label="Logout" @click="confirmLogout" size="small" />
      </template>
      <template #content>
        <p>
          expiration time: {{ $auth.payload?.exp }}
          <br />
          Timestamp: {{ timestamp }}
          <br />
          Is token expired: {{ isTokenExpired }}
        </p>
        <div>
          <p class="white-space-normal">Token: {{ token }}</p>
          Payload:
          <pre>{{ payload }}</pre>
        </div>
      </template>
    </Card>
  </div>
</template>

<script>
export default {
  setup() {
    definePageMeta({
      middleware: ["auth"],
      // or middleware: 'auth'
    });
  },
  data() {
    const auth = this.$auth;
    return {
      token: auth.getToken(),
      payload: auth.payload,
      timestamp: 0,
      isTokenExpired: "",
    };
  },
  created() {
    setInterval(() => {
      this.timestamp = new Date().getTime() / 1000;
      this.isTokenExpired = this.$auth.isTokenExpired();
    }, 1000);
  },
  methods: {
    confirmLogout() {
      this.$confirm.require({
        header: "Logout Confirmation",
        message: "Are you sure you want to logout?",
        accept: () => {
          this.doLogout();
        },
      });
    },
    doLogout() {
      this.$auth.removeToken();
      return navigateTo("/login");
    },
  },
};
</script>

