<template>
  <div>
    <input type="email" v-model="email" />
  </div>
  <div>
    <input type="text" v-model="password" />
  </div>
  <div>
    <button @click="doLogin">Login</button>
  </div>
  <hr />
  <p>timestamp: {{ timestamp }}</p>
  <hr />
  <div>
    <button @click="showToken">Show Token</button>
  </div>
  Payload:
  <pre>
    {{ payload }}
  </pre>
  <p>token: {{ token }}</p>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: "",
      payload: {},
      token: "",
      timestamp: 0,
    };
  },
  created() {
    setInterval(() => {
      this.timestamp = new Date().getTime() / 1000;
    }, 1000);
  },
  methods: {
    async doLogin() {
      this.isLock = true;
      let res;
      try {
        res = await this.$api.post("/api/auth/login", {
          email: this.email,
          password: this.password,
        });
      } catch (error) {
        console.log(error.message);
        return;
      }
      console.log(res.data);
      const data = res.data;
      this.$auth.setToken(data.data.token);
      this.$auth.startRefreshTokenTimer();
      this.showToken();
    },
    showToken() {
      this.token = this.$auth.getToken();
      this.payload = this.$auth.payload;
    },
  },
};
</script>
